.stake-view{
  margin-top: 42px;
  border-radius: 10px;
  margin-left: 230px;
  transition: 0.3s ease;
  .stake-card{
    position: relative;
    z-index: 2;
    border-radius: 10px;
    padding: 40px 110px 60px 110px;
    width: 100%;

    .stake-card-grid{
      margin: 0;
      width: 100%;
      .stake-card-area{
        margin: 62px 0 0 0;
      }
    }

    .stake-card-header{
      .stake-card-header-title{
        font-family: Montserrat Bold;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 4px;
      }
    }

    .stake-card-metrics {
      display: flex;
      width: 100%;
      padding: 0;
      text-align: center;
      margin-top: 70px;
      
      .stake-card-apy,
      .stake-card-tvl,
      .stake-card-index {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .stake-card-metrics-title{
          font-family: Montserrat Medium;
          font-style: normal;
          font-weight: 500;
          font-size: 1.125rem;
          margin-bottom: 2px;
        }
        
        .stake-card-metrics-value{
          font-family: Montserrat Bold;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
        }
      }
    }

    .stake-card-area {
      .stake-card-wallet-notification{
        text-align: center;

        .stake-card-wallet-connect-btn{
          background: rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
          border-radius: 10px;
          padding: 15px 50px;
          cursor: pointer;
          margin: auto;
          max-width: 280px;
          margin-top: 20px;
          display: inline-block;
          
          font-family: Montserrat SemiBold;
          font-weight: 600;
          font-size: 1.125rem;
          color: #FFFFFF;
          transition: 0.3s ease;
          &:hover{
            color: #7cc9bb;
            // box-shadow: 4px 4px 8px #000000, -4px -4px 8px #383838, inset 4px 4px 3px #151515, inset -4px -4px 4px #474747;
          }
        }
        

        .stake-card-wallet-desc-text{
          font-family: Roboto;
          font-weight: 300;
          font-size: 1.125rem;
          color: rgba(255, 255, 255, 0.6);
          margin-top: 10px;
          margin-bottom: 6px;
        }
      }

      .stake-card-action-area{
        width: 100%;
        margin-top: 25px;

        .stake-card-action-stage-btns-wrap{
          display: flex;
          align-items: center;
          .stake-card-action-stage-btn{
            margin: 0px 30px;
            padding: 6px;
            cursor: pointer;
            transition: all .4s ease;
            
            p{
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 0.875rem;
              color: #9A9A9A;
            }
          }
          .stake-card-action-stage-btn.active{
            p{
              color: #E988EB;
            }
          }
        }
        .stake-card-action-row{
          display: flex;
          align-items: center;
          margin-top: 20px;
          justify-content: space-between;

          .stake-card-action-input{
            width: 100%;
            max-width: 680px;
            border-radius: 10px;
            outline: none;
            padding-right: 20px;
            transition: 0.3s ease;
            .MuiOutlinedInput-input{
              font-family: Montserrat Medium;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              color: #525252;
              padding: 20px 20px;
            }
            
            .MuiOutlinedInput-notchedOutline{
              border: none;
            }
            
            .stake-card-action-input-btn{
              cursor: pointer;
                
              p{
                font-family: Montserrat SemiBold;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1.125rem;
                color: #E988EB;
              }
            }
          } 
          
          .stake-card-tab-panel{
            margin-left: 10px;

            .stake-card-tab-panel-btn{
              border-radius: 10px;
              padding: 15px 50px;
              cursor: pointer;
              text-align: center;
              transition: 0.3s ease;
              p{
                font-family: Montserrat SemiBold;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: #E988EB;
              }
            }
          }
        }
        .stake-mobile-open{
          display: none;
        }
        .stake-card-action-help-text{
          margin-top: 24px;
          p{
            width: 100%;
            max-width: 680px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 0.75rem;
            line-height: 14px;
            color: #565656;
          }
        }
      }

      .stake-user-data{
        justify-content: center;
        
        padding: 0 5px;
        margin-top: 50px;
        max-width: 330px;
        
      }
    }
  }
}

.data-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 12px 0px;

  .data-row-name{
    font-family: Montserrat Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
  }
  .data-row-value{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 90px;
  }
}

@media(max-width:1550px){
  .MuiGrid-spacing-xs-2 > .MuiGrid-item{
    padding: 0 !important;
  }
  .stake-view .stake-card .stake-card-area .stake-card-wallet-notification .stake-card-wallet-connect-btn{
    padding: 12px 40px;
    font-size: 1rem;
  }
  .stake-view .stake-card .stake-card-metrics .stake-card-apy .stake-card-metrics-value, .stake-view .stake-card .stake-card-metrics .stake-card-tvl .stake-card-metrics-value, .stake-view .stake-card .stake-card-metrics .stake-card-index .stake-card-metrics-value{
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1240px) {
  .stake-view .stake-card{
    padding: 40px 60px 60px 60px;
  }
  .stake-view .stake-card .stake-card-header .stake-card-header-title{
    font-size: 1.3rem;
  }
  .rebase-timer p{
    font-size: 0.9rem;
  }
  .stake-view .stake-card .stake-card-metrics .stake-card-apy .stake-card-metrics-title, .stake-view .stake-card .stake-card-metrics .stake-card-tvl .stake-card-metrics-title, .stake-view .stake-card .stake-card-metrics .stake-card-index .stake-card-metrics-title{
    font-size: 1rem;
  }
  .stake-view .stake-card .stake-card-metrics .stake-card-apy .stake-card-metrics-value, .stake-view .stake-card .stake-card-metrics .stake-card-tvl .stake-card-metrics-value, .stake-view .stake-card .stake-card-metrics .stake-card-index .stake-card-metrics-value{
    font-size: 1.2rem;
  }
  .stake-view .stake-card .stake-card-area .stake-card-wallet-notification .stake-card-wallet-desc-text{
    font-size: 1rem;
  }
  .stake-view .stake-card .stake-card-area .stake-card-action-area .stake-card-action-row .stake-card-action-input .MuiOutlinedInput-input{
    padding: 15px 20px;
  }
  .stake-view .stake-card .stake-card-area .stake-card-action-area .stake-card-action-row .stake-card-tab-panel .stake-card-tab-panel-btn{
    padding: 12px 30px;
  }
}
@media screen and (max-width: 1080px) {
  .stake-view .stake-card{
    padding: 40px 40px 60px 40px;
  }
}
@media(max-width:959px) {
  .stake-view{
    margin-left: 0;
    margin-top: 25px;
  }
}
@media(max-width:780px){
  .stake-view{
    display: block;
  }
  .MuiGrid-container{
    flex-wrap: nowrap !important;
  }
  .MuiGrid-spacing-xs-2 > .MuiGrid-item{
    width: 100%;
    max-width: 100%;
  }
  
  .stake-view .stake-card{
    padding: 25px 36px 30px 36px;
  }
  .stake-view .stake-card .stake-card-metrics{
    text-align: start;
    margin-top: 28px;
    position: relative;
  }
  .stake-view .stake-card .stake-card-metrics::after{
    content: "";
    position: absolute;
    width: 102%;
    display: inline-block;
    height: 4px;
    left: -1%;
    bottom: -25px;
    transition: 0.3s ease;
  }
  .stake-view .stake-card .stake-card-metrics .stake-card-apy, .stake-view .stake-card .stake-card-metrics .stake-card-tvl, .stake-view .stake-card .stake-card-metrics .stake-card-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 0 0;
  }
}
@media(max-width: 733px){
  .stake-view .stake-card .stake-card-metrics::after{
    width: 106%;
    left: -3%;
  }
}
@media(max-width:650px){
  .stake-view .stake-card .stake-card-header .stake-card-header-title{
    font-size: 0.875rem;
  }
  .rebase-timer p{
    font-size: 0.875rem;
  }
  .stake-view .stake-card .stake-card-metrics .stake-card-apy .stake-card-metrics-title, .stake-view .stake-card .stake-card-metrics .stake-card-tvl .stake-card-metrics-title, .stake-view .stake-card .stake-card-metrics .stake-card-index .stake-card-metrics-title{
    font-size: 0.875rem;
  }
  .stake-view .stake-card .stake-card-metrics .stake-card-apy .stake-card-metrics-value, .stake-view .stake-card .stake-card-metrics .stake-card-tvl .stake-card-metrics-value, .stake-view .stake-card .stake-card-metrics .stake-card-index .stake-card-metrics-value{
    font-size: 0.875rem;
    margin: 0 0 0 12px;
  }
  .stake-view .stake-card .stake-card-area .stake-card-wallet-notification .stake-card-wallet-desc-text{
    font-size: 0.875rem;
  }
  .stake-view .stake-card .stake-card-area .stake-card-wallet-notification .stake-card-wallet-connect-btn{
    padding: 8px 20px;
  }
}
@media screen and (max-width: 600px) {
  .stake-view .stake-card .stake-card-area .stake-card-action-area .stake-card-action-help-text{
    display: none;
  }
  .stake-view .stake-card .stake-card-area .stake-card-action-area .stake-mobile-open{
    display: block;
  }
  .stake-view .stake-card .stake-card-area .stake-card-action-area .stake-card-action-stage-btns-wrap{
    justify-content: center;
  }
  .stake-view{
    .stake-card{
      .stake-card-metrics{
        .stake-card {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .stake-card-area{
        .stake-card-action-area{
          .stake-card-action-row{
            flex-direction: column;
            .stake-card-tab-panel{
              margin-left: 0;
              margin-top: 20px;
              min-width: none;
              width: 100%;
              text-align: center;
              .stake-card-tab-panel-btn{
                display: inline-block;
                padding: 8px 28px;
                p{
                  font-size: 0.75rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .data-row .data-row-name{
    font-size: 12px;
  }
  .data-row .data-row-value{
    margin-left: 40px;
    font-size: 12px;
  }
}
