.last-bonds__block{
    position: relative;
    width: 100%;
    min-width: 150px;
    padding: 40px 20px 24px 20px;
    max-width: 210px;
    min-height: 325px;
    height: 325px;
    transition: 0.3s ease;
    border-radius: 10px;
    margin: 7.5px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    .last-bonds__block-title{
        font-family: Roboto, sans-serif;
        font-size: 1.125rem;
        text-align: center;
        font-weight: 500;
        margin-bottom: 35px;
        overflow: hidden;
        overflow-x: auto;
        white-space: pre;
        max-width: 125px;
    }
    .last-bonds__block-tvl{
        cursor: pointer;
        position: relative;
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        box-sizing: border-box;
        transition: 0.3s ease;
        .block-tvl-num{
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
        }
        .block-tvl-text{
            font-family: Roboto, sans-serif;
            font-size: 0.75rem;
            color: #969696;
        }
        .block-deactivate-text{
            display: none;
        }
        &::after{
            content: "";
            position: absolute;
            width: 105%;
            height: 105%;
            top: -2.5%;
            left: -2.5%;
            border-radius: 50%;
            background: rgba(0,0,0,0);
            transition: 0.3s ease;
        }
    }
    .last-bonds__block-roi{
        margin: 16px 0 0 0;
        font-family: Roboto, sans-serif;
        font-size: 1.125rem;
        span{
            display: block;
    min-height: 25px;
        }
    }
    .last-bonds__block-footerT{
        font-family: Roboto, sans-serif;
        font-size: 0.75rem;
        color: #969696;
    }
}

.last-bonds__block.deactivate{
    .last-bonds__block-title{
        display: none;
    }
    .last-bonds__block-tvl{
        border: 1px solid #555555 !important;
        padding: 20px;
        pointer-events: none;
        .block-tvl-num{
            display: none;
        }
        .block-tvl-text{
            display: none;
        }
        .block-deactivate-text{
            display: block;
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 1.125rem;
            text-align: center;
            color: #555555;
            line-height: 21px;
        }
    }
    .last-bonds__block-roi{
        display: none;
    }
    .last-bonds__block-footerT{
        display: none;
    }
}
@media(max-width:1890px){
    .last-bonds__block{
        min-width: 130px;
        max-width: 200px;
    }
}
@media(max-width:1740px){
    .last-bonds__block{
        min-width: 130px;
        max-width: 160px;
        min-height: 265px;
        height: 265px;
        padding: 30px 20px 24px 20px;
        .last-bonds__block-title{
            font-size: 1rem;
            margin-bottom: 18px;
            max-width: 115px;
        }
        .last-bonds__block-tvl{
            width: 90px;
            height: 90px;
            .block-tvl-num{
                font-size: 1rem;
            }
        }
        .last-bonds__block-roi{
            font-size: 1rem;
            margin: 0px 0 0 0;
            span{
                min-height: 21px;
            }
        }
    }

    .last-bonds__block.deactivate{
        .last-bonds__block-tvl{
            padding: 15px;
            .block-deactivate-text{
                font-size: 1rem;
                line-height: 15px;
            }
        }
    }
}
@media(max-width:1550px){
    .choose-bond-view .choose-bond-view-card .last-bonds .last-bonds__title{
        font-size: 1.25rem;
    }
    .last-bonds__block{
        min-width: 120px;
        max-width: 158px;
        min-height: 244px;
        overflow: hidden;
        height: 205px;
        overflow-y: auto;
        padding: 22px 20px 22px 20px;
        .last-bonds__block-title{
            font-size: 0.875rem;
            max-width: 85px;
            margin-bottom: 14px;
        }
        .last-bonds__block-tvl{
            width: 80px;
            height: 80px;
            min-height: 80px;
            .block-tvl-num{
                font-size: 0.875rem;
            }
            .block-tvl-text{
                font-size: 0.562rem;
            }
        }
        .last-bonds__block-roi{
            font-size: 0.875rem;
            margin: 0px 0 0 0;
            span{
                min-height: 18px;
            }
        }
        .last-bonds__block-footerT{
            font-size: 0.562rem;
        }
    }

    .last-bonds__block.deactivate{
        .last-bonds__block-tvl{
            .block-deactivate-text{
                font-size: 0.75rem;
                line-height: 13px;
            }
        }
    }
}
@media(max-width:1350px){
    .last-bonds__block{
        min-height: 204px;
    }
}