
body iframe{
    display: none !important;
}
.footer-content{
    position: relative;
    padding-bottom: 40px;
    margin: 80px 0 0 230px;
    p{
        text-align: center;
        font-family: Roboto, sans-serif;
        font-style: normal;
        color: #565656;
        font-size: 0.75rem;
    }
}


@media(max-width:960px){
    .footer-content{
        margin: 80px 0 0 0;
    }
}

@media(max-width:500px){
    .footer-content{
        p{
            font-size: 0.5rem;
        }
    }
}