.connect-button{
  border: 1px solid #213431;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 40px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
    .connect-button-progress{
      margin-left: 10px;
      margin-top: 4px;
    }
  
    
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 0.875rem;
      color: #92EADA;
    
  }
@media(max-width:1550px){
  .connect-button{
    padding: 8px 30px;
  }
}
@media(max-width:780px){
  .connect-button{
    padding: 8px 20px;
  }
}
@media(max-width:500px){
  .connect-button{
    font-size: 0.75rem;
  }
}
@media(max-width:780px){
  .connect-button{
    padding: 8px 20px;
  }
}
