.connect-button{
  border: 1px solid #213431;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 42px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
    .connect-button-progress{
      margin-left: 10px;
      margin-top: 4px;
    }
  
    
      font-family: Montserrat SemiBold;
      font-weight: 600;
      font-size: 1rem;
      color: #92EADA;
    
  }
@media(max-width:1550px){
  .connect-button{
    padding: 8px 30px;
  }
}
  @media(max-width:780px){
    .connect-button{
      padding: 8px 20px;
    }
  }