#root{
    background: #232323;
    height: 100vh;
}
.view-base-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 210px;
}
.mobileLogoMain{
    display: none;
    margin: 25px auto 0 auto;
    
}
@media(max-width:1550px){
    .view-base-root{
        padding: 0 180px;
    }
}
@media(max-width:1420px){
    .view-base-root{
        padding: 0 160px;
    }
}
@media(max-width:1280px){
    .view-base-root{
        padding: 0 140px;
    }
}
@media(max-width:1239px){
    .view-base-root{
        padding: 0 120px;
    }
}
@media(max-width:1100px){
    .view-base-root{
        padding: 0 90px;
    }
}
@media(max-width:959px){
    .view-base-root {
        padding: 0 60px;
    }
    .mobileLogoMain{
        display: block;
    }
}
@media(max-width:780px){
    .view-base-root{
        padding: 0 46px;
    }
    
}
@media(max-width:650px){
    .view-base-root{
        padding: 0 16px;
    }
    .mobileLogoMain {
        width: 80px;
    }
}
@media(max-width:500px){
    .mobileLogoMain {
        width: 60px;
    }
}
